html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Variables and Mixins */
/* End Variables and Mixins */
body {
  font-family: "Libre Franklin", sans-serif;
  font-size: 20px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  width: 50%;
}
.wrapper .logo {
  margin: 85px 0 50px;
}
.wrapper .cta {
  margin-bottom: 80px;
}
.wrapper .cta h1 {
  color: #969696;
  font-size: 3rem;
  font-weight: 300;
  margin-bottom: 20px;
}
.wrapper .cta h1 .emphasis {
  color: #151f29;
  font-weight: 700;
}
.wrapper .cta h2 {
  color: #151f29;
  margin-bottom: 40px;
}
.wrapper .cta form {
  width: 100%;
}
.wrapper .cta form.error input {
  border-color: #ff5263;
}
.wrapper .cta form.error .error-msg {
  display: block;
}
.wrapper .cta form input {
  border-radius: 30px;
  border: 1px solid #c2d3ff;
  font-size: 1rem;
  font-weight: 300;
  height: 55px;
  outline: none;
  padding: 5px 25px;
  width: 60%;
}
.wrapper .cta form input::-webkit-input-placeholder {
  color: #969696;
  opacity: 0.4;
}
.wrapper .cta form button {
  background-color: #4f7df3;
  border-radius: 30px;
  border: transparent;
  color: rgba(255, 255, 255, 0.9);
  font-size: 1.05rem;
  font-weight: 600;
  height: 55px;
  margin-left: 2%;
  outline: none;
  padding: 5px 40px;
  width: 28%;
  -webkit-box-shadow: 0 10px 10px 2px rgba(79, 125, 243, 0.2);
  box-shadow: 0 10px 10px 2px rgba(79, 125, 243, 0.2);
}
.wrapper .cta form button:hover {
  background: #7093f5;
  cursor: pointer;
}
.wrapper .cta form .error-msg {
  color: #ff5263;
  display: none;
  font-size: 0.7rem;
  font-style: italic;
  margin: 15px 0 0 65px;
  text-align: left;
}
.wrapper .dashboard-img {
  margin-bottom: 80px;
}
.wrapper .dashboard-img img {
  width: 90%;
}
.wrapper .footer__social {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  width: 18%;
}
.wrapper .footer__social--icon {
  border-radius: 50%;
  border: 1px solid rgba(150, 150, 150, 0.2);
  cursor: pointer;
  height: 30px;
  margin-bottom: 25px;
  width: 30px;
}
.wrapper .footer__social--icon:hover {
  border-color: #4f7df3;
  background: #4f7df3;
}
.wrapper .footer__social--icon:hover i {
  color: white;
}
.wrapper .footer__social--icon i {
  color: #4f7df3;
  position: relative;
  top: 2px;
}
.wrapper .footer__copy {
  color: #969696;
  font-size: 0.75rem;
  margin-bottom: 50px;
}

/*# sourceMappingURL=styles.css.map */
