@import "reset";

/* Variables and Mixins */
$blue: hsl(223, 87%, 63%);
$paleBlue: hsl(223, 100%, 88%);
$lightPaleBlue: hsl(224, 87%, 70%);
$lightRed: hsl(354, 100%, 66%);
$gray: hsl(0, 0%, 59%);
$veryDarkBlue: hsl(209, 33%, 12%);
/* End Variables and Mixins */

body {
  font-family: "Libre Franklin", sans-serif;
  font-size: 20px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  width: 50%;
  .logo {
    margin: 85px 0 50px;
  }
  .cta {
    margin-bottom: 80px;
    h1 {
      color: $gray;
      font-size: 3rem;
      font-weight: 300;
      margin-bottom: 20px;
      .emphasis {
        color: $veryDarkBlue;
        font-weight: 700;
      }
    }
    h2 {
      color: $veryDarkBlue;
      margin-bottom: 40px;
    }
    form {
      width: 100%;
      input {
        border-radius: 30px;
        border: 1px solid $paleBlue;
        font-size: 1rem;
        font-weight: 300;
        height: 55px;
        outline: none;
        padding: 5px 25px;
        width: 60%;
        &::-webkit-input-placeholder {
          color: $gray;
          opacity: 0.4;
        }
      }
      button {
        background-color: $blue;
        border-radius: 30px;
        border: transparent;
        color: hsla(0, 0%, 100%, 0.9);
        font-size: 1.05rem;
        font-weight: 600;
        height: 55px;
        margin-left: 2%;
        outline: none;
        padding: 5px 40px;
        width: 28%;
        -webkit-box-shadow: 0 10px 10px 2px hsla(223, 87%, 63%, 0.2);
        box-shadow: 0 10px 10px 2px hsla(223, 87%, 63%, 0.2);
        &:hover {
          background: $lightPaleBlue;
          cursor: pointer;
        }
      }
    }
  }
  .dashboard-img {
    margin-bottom: 80px;
    img {
      width: 90%;
    }
  }

  .footer {
    &__social {
      display: flex;
      justify-content: space-around;
      margin: 0 auto;
      width: 18%;
      &--icon {
        border-radius: 50%;
        border: 1px solid hsla(0, 0%, 59%, 0.2);
        cursor: pointer;
        height: 30px;
        margin-bottom: 25px;
        width: 30px;
        &:hover {
          border-color: $blue;
          background: $blue;
          i {
            color: hsl(0, 0%, 100%);
          }
        }
        i {
          color: $blue;
          position: relative;
          top: 2px;
        }
      }
    }
    &__copy {
      color: $gray;
      font-size: 0.75rem;
      margin-bottom: 50px;
    }
  }
}
